{% extends "pages/layout.html" %} 
{% load static %}
{% block title %}
    <title>Realtor - Agent </title>
{% endblock title %}

{% block body %}
<div class="header-nav h-nav-bg"></div>
<!-- ------------------ search ----------------------------- -->



<section class="search-form">  


    <h1>Custom Search</h1>

    <form class="search-form-main-con container-1">

        <!-- <h1>Search</h1> -->

        <div class="search-form-con">

            <div class="input-group">
                <input type="text" id="name" placeholder="Location" required>
            </div>


            <div class="input-group">
                <input type="text" id="name" placeholder="Apartment Type" required>
            </div>

            
            <select name="" id="">
                <option value="">Price Range</option>
                <option value="">Hello</option>
                <option value="">Hello</option>
                <option value="">Hello</option>
            </select>


            <button>Search</button>

        </div>

        
        

    </form>
</section>




<!-- --------------------------------Top-Agent ---------------------------------- -->

<section class="t-agents">

<h1>Agents</h1>

    <div class="t-agent-main-con container-1">





<!------------------------------------------------------------>
        <div class="agent-con">

            <div class="agent-image">
                <img src="{% static 'image/pic-7.jpeg' %}" alt="">
            </div>
            
            <div class="a-rank-con">
                <p>John Smith Realty</p>
                <div class="a-d-icon">
                    <i class="uis uis-star"></i>
                    <i class="uis uis-star"></i>
                    <i class="uis uis-star"></i>
                    <i class="uis uis-star-half-alt"></i>
                    <i class="uil uil-star"></i>
                    <span>4.8</span>
                </div>
            </div>

            <p class="a-p-1">127 Properties Sold</p>

            <p  class="a-p-2">Specializes in luxury homes and commercial properties</p>

            <a href="">
                <div class="agent-btn">VIEW PROFILE</div>
            </a>
        </div>






<!------------------------------------------------------------>
        <div class="agent-con">

            <div class="agent-image">
                <img src="{% static 'image/pic-7.jpeg' %}" alt="">
            </div>
            
            <div class="a-rank-con">
                <p>John Smith Realty</p>
                <div class="a-d-icon">
                    <i class="uis uis-star"></i>
                    <i class="uis uis-star"></i>
                    <i class="uis uis-star"></i>
                    <i class="uis uis-star-half-alt"></i>
                    <i class="uil uil-star"></i>
                    <span>4.8</span>
                </div>
            </div>

            <p class="a-p-1">127 Properties Sold</p>

            <p  class="a-p-2">Specializes in luxury homes and commercial properties</p>

            <a href="">
                <div class="agent-btn">VIEW PROFILE</div>
            </a>
        </div>







<!------------------------------------------------------------>
        <div class="agent-con">

            <div class="agent-image">
                <img src="{% static 'image/pic-7.jpeg' %}" alt="">
            </div>
            
            <div class="a-rank-con">
                <p>John Smith Realty</p>
                <div class="a-d-icon">
                    <i class="uis uis-star"></i>
                    <i class="uis uis-star"></i>
                    <i class="uis uis-star"></i>
                    <i class="uis uis-star-half-alt"></i>
                    <i class="uil uil-star"></i>
                    <span>4.8</span>
                </div>
            </div>

            <p class="a-p-1">127 Properties Sold</p>

            <p  class="a-p-2">Specializes in luxury homes and commercial properties</p>

            <a href="">
                <div class="agent-btn">VIEW PROFILE</div>
            </a>
        </div>







<!------------------------------------------------------------>
        <div class="agent-con">

            <div class="agent-image">
                <img src="{% static 'image/pic-7.jpeg' %}" alt="">
            </div>
            
            <div class="a-rank-con">
                <p>John Smith Realty</p>
                <div class="a-d-icon">
                    <i class="uis uis-star"></i>
                    <i class="uis uis-star"></i>
                    <i class="uis uis-star"></i>
                    <i class="uis uis-star-half-alt"></i>
                    <i class="uil uil-star"></i>
                    <span>4.8</span>
                </div>
            </div>

            <p class="a-p-1">127 Properties Sold</p>

            <p  class="a-p-2">Specializes in luxury homes and commercial properties</p>

            <a href="">
                <div class="agent-btn">VIEW PROFILE</div>
            </a>
        </div>





    </div>
</section>

{% endblock body %}