{% extends "pages/layout.html" %}
{% load static %}
{% block title %}
{% endblock title %}
{% block body %}
<!-- ---------------------------- upload section ------------------------- -->



<section class="upload-form">  
    <form class="upload-form-main-con container-1">



        <h1>Upload Apartment</h1>


        <div class="message success">
            <p>This is an error message</p>
        </div>

        <div class="upload-form-con">

            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>


            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>


            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>



            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>



            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>



            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>





            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>


            

        </div>

        <button>Upload</button>
        

    </form>
</section>

{% endblock body%}