{% extends 'pages/layout.html' %}
{% load static %}
{% block title %}Upload Details{% endblock %}

{% block body %}
<div class="header-nav h-nav-bg"></div>

<!-- ---------------------------- upload section ------------------------- -->
<section class="upload-form">  
    <form class="upload-form-main-con container-1">

        {% if message %}

        <div class="message success">
            <p>{{message}}</p>
        </div>
        {% endif %}

        <h2>Upload Apartment</h2>


        <div class="upload-form-con">

            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>


            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>


            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>



            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>



            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>



            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>





            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="text" id="name" placeholder="Enter Your Name" required>
            </div>


            

        </div>

        <button>Upload</button>
        

    </form>
</section>
{% endblock %}













