{% extends 'pages/layout.html' %}
{% load static %}
{% block title %}Upload Details{% endblock %}

{% block body %}
<div class="header-nav h-nav-bg"></div>

<!-- ---------------------------- upload section ------------------------- -->
<section class="upload-form">  
    <form class="upload-form-main-con container-1">

        {% if message %}

        <div class="message success">
            <p>{{message}}</p>
        </div>
        {% endif %}

        <h2>Upload Apartment</h2>


        <div class="upload-form-con">

            <div class="input-group">
                <input type="number" id="apartment_type" placeholder="Number of bed" required>
            </div>


            <div class="input-group">
                <input type="number" id="name" placeholder="Number of bath" required>
            </div>


            <div class="input-group">
                <input type="number" id="name" placeholder="Enter landscape measurement in sq ft" required>
            </div>



            <div class="input-group">
                <input type="text" id="addr" placeholder="Enter Your address" required>
            </div>



            <div class="input-group">
                <select>
                    <option value='Type of apartment' selected disabled>What type of apartment is it?</option>
                    <option value='modern'>Modern Home</option>
                    <option value= 'Ancient'>Ancient</option>
                </select>
            </div>




            <div class="input-group">
                <input type="file" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="file" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="file" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="file" id="name" placeholder="Enter Your Name" required>
            </div>



            <div class="input-group">
                <input type="file" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="file" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="file" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="file" id="name" placeholder="Enter Your Name" required>
            </div>





            <div class="input-group">
                <input type="file" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="file" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="file" id="name" placeholder="Enter Your Name" required>
            </div>




            <div class="input-group">
                <input type="file" id="name" placeholder="Enter Your Name" required>
            </div>


            

        </div>

        <button>Upload</button>
        

    </form>
</section>
{% endblock %}













